<% include ../header.ejs %>

  提问题页面
  <form action="" method="post">
    <input type="text" name="title">
    <textarea name="content" id="" cols="30" rows="10"></textarea>
    <input type="submit" value="提问">
  </form>

<% include ../footer.ejs %>
