html {
  color: green;
}
a {
  color: green;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}
div {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.error {
  color: red;
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
.bordered {
  border-top: dotted 1px black;
  border-bottom: solid 2px black;
}
#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix::after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.box {
  color: #008000;
  border-color: #1aff1a;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
