html{
	/*rem的参考*/
	font-size: 15px;
}
@media screen and (min-width:400px){
	html{
		font-size: 18px;
	}
}
body{
	font-size: 14px;
	font-family: "Microsoft Yahei";
	padding-top: 45px;
	background-color: #f2f2f2;
 
}
header{
	position: fixed;
	left: 50%;
	top: 0;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #CCCCCC;
	max-width: 540px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	padding-right: 60px;
	padding-left: 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color: #F6F6F6;
	z-index: 999;
}
header .user{
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 44px;
}
header .user a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	color:#2EAAE0;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
header .user a::before{
	content:"";
	position: absolute;
	width: 23px;
	height: 23px;
	background: url(../images/icons.png) no-repeat -59px -195px;
	background-size:104px 328px;
	left: 50%;
	top: 5px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
header .soso_box{
	width: 100%;
	height: 24px;
	border: 1px solid #999999;
	border-radius: 8px;
	box-shadow: 0px 1px 1px rgba(111,111,111,.8);
	position: relative;
	top: 8px;
	background-color: white;
	padding-left: 30px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
header .soso_box::before{
	content:"";
	position: absolute;
	width: 13px;
	height: 13px;
	top: 50%;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	left: 10px;
	background:url(../images/icons.png) no-repeat -60px -280px;
	/*这里这个background-size指的是缩放之后的精灵图整体的尺寸*/
	/*手机页面的精灵图，一律都是2倍大小。*/
	/*精灵图原尺寸是208 655   所以这里就是104 327*/
	background-size:104px 328px;

}
header .soso_box input{
	border:none;
	outline: none;
	font-size: 12px;
	position: relative;
	top: 1px;
}

.banner{
	width: 100%;
	height: ;
	max-width: 540px;
	margin: 0 auto;
	background-color: yellowgreen;
}

nav{
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	padding:4px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color: white;
	overflow: hidden;
}
nav .row{
	overflow: hidden;
	margin-bottom: 0.33333rem;
}
nav .row ul li{
	float: left;
	width: 33.33333%;
}
nav .row ul li{
	height: 3rem;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav .row ul li:nth-child(1){
	height: 6rem;
}
nav .row ul li>div{
	width: 100%;
	height: 100%;
}
nav .row ul li:nth-child(1) div{
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
nav .row ul li:nth-child(3) div{
	border-top-right-radius: 8px;
}
nav .row ul li:nth-child(5) div{
	border-bottom-right-radius: 8px;
}

nav .row:nth-child(1) ul li>div{
	background-color: #ff697a;
}
nav .row:nth-child(2) ul li>div{
	background-color: #3d98ff;
}
nav .row:nth-child(3) ul li>div{
	background-color: #44c522;
}
nav .row:nth-child(4) ul li>div{
	background-color: #fc9720;
}
nav ul li>div a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 3rem;
	text-decoration: none;
	font-size: 1rem;
	color:white;
	text-shadow:1px 1px 1px rgba(111,111,111,0.8);
	position: relative;
}
nav ul li:nth-child(1)>div a{
	line-height: 3.2rem;
}
nav .row ul li:nth-child(1)>div a::before{
	content:"";
	position: absolute;
	bottom:0.75rem;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width: 40px;
	height: 33px;
	background:url(../images/icons.png) no-repeat -0px -130px;
	background-size:104px 328px;
}

nav .row:nth-child(2) ul li:nth-child(1)>div a::before{
	background-position: -50px -122px;
	width: 41px;
	height: 24px;
}
nav .row:nth-child(3) ul li:nth-child(1)>div a::before{
	background-position: 0 -180px;
	width: 35px;
	height: 40px;
}
nav .row:nth-child(4) ul li:nth-child(1){
	height: 3rem;
}
nav .row:nth-child(4) ul li:nth-child(1) div{
	border-bottom-left-radius: 0;
}
nav .row:nth-child(4) ul li:nth-child(5) div{
	border-bottom-right-radius: 0;
}
nav .row:nth-child(4) ul li:nth-child(4) div{
	border-bottom-left-radius: 8px;
}
nav .row:nth-child(4) ul li:nth-child(6) div{
	border-bottom-right-radius: 8px;
}
nav .row:nth-child(4) ul li:nth-child(1)>div a::before{
	display: none;
}

.products{
	width: 100%;
	max-width: 540px;
	margin: 0 auto;
	margin-top: 4px;
	background-color: white;
	border-radius: 6px;
	overflow: hidden;
}
.products ul li{
	float: left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 25%;
	height: 69px;
	border-right:1px solid #F2F2F2;
	border-bottom:1px solid #F2F2F2;
}
.products ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100px;
	text-decoration: none;
	color:#000000;
	position: relative;
}
.products ul li a::before{
	content:"";
	position: absolute;
	top: 10px;
	left: 50%;
	width: 26px;
	height: 26px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	background: url(../images/un_ico_subnav.png);
	background-size: 26px 235px; 
}
/*所有li都有边框，从第4个开始没有边框*/
.products ul li:nth-child(n+5){
	border-bottom: none;
}

.products ul li:nth-child(1) a::before{background-position: 0px 0px;}
.products ul li:nth-child(2) a::before{background-position: 0px -30px;}
.products ul li:nth-child(3) a::before{background-position: 0px -60px;}
.products ul li:nth-child(4) a::before{background-position: 0px -90px;}
.products ul li:nth-child(5) a::before{background-position: 0px -120px;}
.products ul li:nth-child(6) a::before{background-position: 0px -150px;}
.products ul li:nth-child(7) a::before{background-position: 0px -180px;}
.products ul li:nth-child(8) a::before{background-position: 0px -210px;}


.temaihui{
	width: 100%;
	max-width: 540px;
	height: 261px;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	margin: 0 auto;
	margin-top: 8px;
	background-color: white;
	overflow: hidden;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding: 11px 8px;
}
.temaihui h3{
	float: left;
	width: 56px;
	height: 19px;
	text-indent: -999em;
	background: url(../images/un_home_text.png) 0 0;
	background-size: 79px auto;
}
.temaihui .hd{
	overflow: hidden;
	margin-bottom: 13px;
}
.temaihui .hongbao{
	float: right;
}
.temaihui .hongbao a{
	display: block;
	width: 102px;
	height: 20px;
	background-image: -webkit-linear-gradient(left,#ff4e63,#ff6cc9);
	border-radius: 10px;
	color:white;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	line-height: 20px;
}


.temaihui .bd .sales_item{
	float: left;
	position: relative;
	background-color: #F9F9F9;
}
.temaihui .bd .baokuan_box{
	width: 50%;
	height: 205px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-right: 2px solid white;
}
.temaihui .bd .sales_item:nth-child(2){
	width: 50%;
	border-left: 2px solid white;
	height: 88px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin-bottom: 5px;
}
.temaihui .bd .sales_item:nth-child(3) , .temaihui .bd .sales_item:nth-child(4){
	width: 25%;
	border-left: 2px solid white;
	height: 112px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin-bottom: 5px;
}
.temaihui .bd .pic img{
	width: 100%;
	height: 117px;
}
.temaihui .bd .pic{
	position: relative;
}
.temaihui .bd  .pic span{
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 20px;
	background-color: red;
	text-align: center;
	font-size: 12px;
	color:white;
	line-height: 20px;
}
.temaihui .bd  .pic span::before{
	content:"";
	position: absolute;
	top: 0;
	left: 38px;
	width: 0px;
	height: 0px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-top:20px solid red;
	border-right:8px solid transparent;
}
.temaihui .bd  h4{
	padding:4px;
	font-size: 14px;
	width: 100%;
	height: 36px;
	color:#333;
	line-height: 20px;
	overflow: hidden;
	/*溢出的文字用省略号代替,IE9兼容*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 4px;
}
.temaihui .bd .price{
	font-size: 18px;
	color:#ff495e;
}
.temaihui .bd  .price em{
	font-size: 12px;
}
.temaihui .bd .cut{
	border-radius: 10px;
	background: #fd3a51;
	padding: 0px 4px;
	font-size: 12px;
	color:white;
	margin-left: 4px;
}
.temaihui .bd .sales_item:nth-child(2) dl{
	padding: 10px;
}
.temaihui .bd .sales_item:nth-child(2) dl dt{
	font-size: 14px;
	color:#fd3a51;
}
.temaihui .bd .sales_item:nth-child(2) dl dd{
	font-size: 12px;
	color:#333;
}
.temaihui .bd .sales_item:nth-child(2) img{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
}

.temaihui .bd .sales_item:nth-child(3){
	padding: 10px;
}
.temaihui .bd .sales_item:nth-child(3)::before{
	content:"";
	position: absolute;
	top: 70px;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	background: url(../images/pic-tmh-03.png);
	-webkit-background-size: 48px 35px;
	background-size: 48px 35px;
	width: 48px;
	height: 35px;
}

.temaihui .bd .sales_item:nth-child(3) dl dt{
	color:#6AABFF;
	font-size: 12px;
}
.temaihui .bd .sales_item:nth-child(3) dl dd{
	color:#333;
	font-size: 12px;
}
.temaihui .bd .sales_item:nth-child(3) dl dd span{
	color:#6AABFF;
}


.temaihui .bd .sales_item:nth-child(4){
	padding: 10px;
}
.temaihui .bd .sales_item:nth-child(4)::before{
	content:"";
	position: absolute;
	top: 70px;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	background: url(../images/pic-tmh-04.png);
	-webkit-background-size: 48px 35px;
	background-size: 48px 35px;
	width: 48px;
	height: 35px;
}

.temaihui .bd .sales_item:nth-child(4) dl dt{
	color:#67CA76;
	font-size: 12px;
}
.temaihui .bd .sales_item:nth-child(4) dl dd{
	color:#333;
	font-size: 12px;
}
.temaihui .bd .sales_item:nth-child(4) dl dd span{
	color:#67CA76;
}



.huodong{
	width: 100%;
	max-width: 540px;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	margin: 0 auto;
	margin-top: 8px;
	background-color: white;
	overflow: hidden;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	
}

.huodong .hd{
	padding: 12px 8px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.huodong h3{
	float: left;
	width: 80px;
	height: 17px;
	text-indent: -999em;
	background: url(../images/un_home_text.png) 0 -19px;
	background-size: 79px auto;
}
.huodong .fuli{
	float: right;
}
.huodong .fuli a{
	display: block;
	width: 102px;
	height: 20px;
	background-image: -webkit-linear-gradient(left,#ffa93a,#ffd35c);
	border-radius: 10px;
	color:white;
	text-align: center;
	font-size: 12px;
	text-decoration: none;
	line-height: 20px;
}

.huodong .bd ul li{
	float: left;
	width: 50%;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.huodong .bd ul li:nth-child(1){
	border-left: none;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
.huodong .bd ul li:nth-child(4){
	clear: both;
}
.huodong .bd ul li img{
	width: 100%;
	/*小技巧让图片垂直居中*/
	vertical-align: middle;
}

.tool{
	width: 100%;
	max-width: 540px;
	margin: 6px auto;
	height: 50px;
	line-height: 74px;
	background-color: white;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.tool li{
	float: left;
	width: 33.3333%;
	text-align: center;

}
.tool li a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color:#333;
	position: relative;
}
.tool li a::before{
	content:"";
	position: absolute;
	top: 6px;
	left: 50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	width: 16px;
	height: 16px;
	background: url(../images/icons.png) no-repeat;
	background-size: 104px 327px;
	background-position: -60px -154px;
}
.tool li:nth-child(2) a::before{
	background-position: -60px -173px;
}
.tool li:nth-child(3) a::before{
	width: 18px;
	height: 18px;
	background-position: -60px -310px;
}

footer{
	clear: both;
	text-align: center;
}
footer a{
	text-decoration: none;
	color:#333;
}
footer p{
	font-size: 12px;
	line-height: 20px;	
}