<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/">首页</a>
    <a href="/admin">后台管理</a>
  </nav>
  <ul>
    <% if (photos.length === 0) { %>
      当前相册为空
    <% } %>
    <% for(var i = 0; i < photos.length; i++) { %>
    <li><img src="<%= photos[i] %>"></li>
    <% } %>
  </ul>
</body>
</html>
