<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>登陆</title>
</head>
<body>
	<h1>请登陆</h1>
	<form action="/checklogin" method="get">
		用户名: <input type="text" name="userName" /> <br />
		密码: <input type="text" name="userPwd" /> <br />
		<input type="submit" />
	</form>
</body>
</html>
