#searchOnTop{
	width: 100%;
	height: 80px;
  margin: auto;
  background: #fff;
  z-index: 600;
  display: none;
  padding-left: 60px;
}
#ontop-box{
	width: 390px;
  float: right;
  margin-right: 450px;
}
#ontop-box > div {
	border: 2px solid #c69c6d;
  font-size: 15px;
  width: 388px;
  height: 34px;
  margin-top:23px;
}
.top-logoPic img,.top-logoDesPic img{
	height: 80px;
	float: left;
	margin-right: 40px;
}
