extends layout
block content
  h1 这是首页的内容
  a.button
  a(class="button")
  a(href="google.com",title="google")
  a(href="google.com",title="google") Hello World
  p.
    asdfasdfa
    asdfasd
    adsfasd
    asdfasdfa

  p
    | dfas
    | dfas
    | dfas
