doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title pageTitle
  body
    h1 Jade - node template engine
    span#container
      p You are amazing
      block content
    footer footer
