header{
	width: 640px;
	height: 140px;
}
header .logo{
	float:none;
	margin: 0 auto;
	height: 60px;
}
header nav{
	float: none;
	width: 640px;
	height: 60px;
	overflow: hidden;
}
header nav li.s{
	display: none;
}
header .tools{
	display: none;
}
.main{
	width: 640px;
}
.main .col{
	margin-bottom: 20px;
}