<% include ../header.ejs %>

  登录页面
  <form action="" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="登录">
  </form>

<% include ../footer.ejs %>
