body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

html{
    font-size: 14px;
}
body {
    padding-top: 3.21rem;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.21rem;
    padding: 7px 3.57rem 7px 8px;
    /* padding 挤出来user的地方 */
    background: #f6f6f6;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
header > .input {
    /* width: 80%; */
    height: 2rem;
    overflow: hidden;
    padding: 0 5px;
    line-height: 2rem;
    border-radius: 5px;
    background: #ffffff;
    color: #666;
    font-size: 0.86rem;
    border: 1px solid #999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
header > .input > span{
    position: relative;
    padding-left: 1.5rem;
}
header > .input > span::before{
    position: absolute;
    top: 1px;
    left: 2px;
    width: 15px;
    height: 18px;
    overflow: hidden;
    content: "";
    background: url(../img/放大镜.png)no-repeat;
    background-size: cover;
}
header > .user{
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 4px;
    top: 2px;

}
header > .user > span{
    position: absolute;
    bottom: 1px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: .86rem;
    color: #2eaae0;
    white-space: nowrap;
}
header > .user > span::before{
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -13px;
    width: 24px;
    height: 24px;
    background: url(../img/user.png) no-repeat;
    background-size: cover;
    content: '';
}
.carrousel{
    height: 82px;
    overflow: hidden;
    position: relative;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 1px !important;
}
.swiper-pagination{
    text-align: right !important;
}
.swiper-pagination-bullet-active{
    background:rgba(255, 255, 255, 0.8) !important;
}
article{
    background: #eee;
    padding: 2px;
}
article .wrapper {
    width: 100%;
    height: 5rem;
    /* background:pink; */
    margin-top: 2px;
    border-radius: .5rem;
    display: flex;
}
article .wrapper .pic{
    flex: 1;
    /* margin-right: 1px; */
    border-right: 1px solid #fff;
    color: #fff;
    background: url(../img/sprite.png);
}
article .wrapper .pic span{
    display: block;
    text-align: center;
    padding-top: 5%;
}

article .wrapper .option{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    /* background: yellow; */
}
article .wrapper .box{
    width: 50%;
    top: 50%;
    color: #fff;
    text-align: center;
}
article .wrapper .one{
    box-sizing: border-box;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
article .wrapper .tow{
  box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
article .wrapper .three{
  box-sizing: border-box;
    border-right: 1px solid #fff;
}
article .hotile{
    background: magenta;
}
article .hotile .pic{
    background-position: 40px -253px;
}
article .plane-ticket{
    background: skyblue;
}
article .plane-ticket .pic{
    background-position: 40px -367px;
}
article .travel{
    background: yellowgreen;
}
article .travel .pic{
    background-position: 40px -469px;
}
article .other{
    background: orange;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
article .other .box{
    width: 30%;

}
article nav .board{
    display: flex;
    flex-wrap: wrap;
    border-radius: .5rem;

}
article nav .board .box{
    width: 25%;
    height: 5rem;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
article nav .board span{
    display: block;
    margin-top: 3rem;
}
article nav .board span::after{
    width: 40px;
    height: 40px;
    /* background: #666; */
    background: url(../img/007.png);
    background-position-y: -40px;
    position: absolute;
    top: 5px;
    left: 30px;
    content: '';
}
